/node_modules
/public
/build
/src/__tests__
yarn.lock
**/*.json
**/*.svg
**/*.bat
**/*.sh
**/*.html
**/*.png
**/*.webp
**/*.webm
**/*.txt
**/*.ico
**/*.md
/src/service-worker.js
/src/serviceWorkerRegistration.js
/src/reportWebVitals.js
/vite.config.js
/vite.config.backup