.cont {
  overflow: hidden;
  position: relative;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 12vw;
  background-color: #e8d5b5;
  width: 100%;
  height: 100vh;
  gap: 2vw;
  border-top-left-radius: 3vw;
}

.cont h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  color: darkslateblue;
  margin-bottom: 20vh;
}

.cont button {
  background-color: #9f0073;
  color: #c3fcf1;
  font-size: 2vw;
  padding: 0.5vw;
  border-radius: 1.3vw;
  border: 0.15em solid;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.cont button:hover {
  cursor: pointer;
  background-color: #fc7149;
  color: #3a3a3a;
}

.cont form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  background: #e5d6b5;
  box-shadow: 20px 20px 60px #c3b69a, -20px -20px 60px #fff6d0;
  border-radius: 1.5vw;
  overflow: hidden;
  padding: 1vw;
}

.cont form input[type='text'] {
  border-radius: 0.5vw;
  border: none;
  max-width: 5vw;
  font-size: 1.4vw;
  padding: 0.3vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.cont form input[type='submit'] {
  font-size: 1.4vw;
  padding: 0.4vw;
  border: 0.2em solid white;
  border-radius: 0.8vw;
  background-color: aqua;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
  will-change: background-color color;
}

.cont form input[type='submit']:hover {
  background-color: tomato;
  color: white;
}

.cont form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3vw;
}

.topLabel {
  margin-left: -9.5vw;
}

.cont form input::placeholder {
  font-size: 1vw;
}
