.mystyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 5.2%;
}

.hastyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 1.2%;
  gap: 0.2vw;
}

.hastyle > * > input[type='text'] {
  margin-left: 1vw;
  font-size: 1.2vw;
  padding: 0.2vw;
  border: none;
  border-radius: 0.5vw;
}

.file {
  margin-left: 10px;
}

.label {
  font-size: 1.7vw;
}

.head {
  font-size: 2vw;
  margin-bottom: -5vw;
}

.submit {
  width: 30%;
  padding: 0.2vw;
  font-size: 1.7vw;
  border-radius: 1vw;
  border: none;
  background-color: aqua;
  position: relative;
  left: -9%;
  top: 3%;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
}

.gsubmit {
  width: 30%;
  padding: 0.2vw;
  font-size: 1.7vw;
  border-radius: 1vw;
  border: none;
  background-color: aqua;
  position: relative;
  left: -3%;
  top: 20%;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
}

.submit:hover,
.hasubmit:hover,
.upload:hover,
.gsubmit:hover {
  background-color: chocolate;
}

.hasubmit {
  width: 30%;
  padding: 0.2vw;
  font-size: 1.7vw;
  border-radius: 1vw;
  border: none;
  background-color: aqua;
  position: relative;
  left: -2%;
  top: 12%;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
}

.upload {
  padding: 0.2vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  border: none;
  background-color: aqua;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
}
