@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
  overflow-x: hidden;
}

html,
body {
  background-color: #34057f !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

button,
h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

body {
  width: 100%;
  height: 100%;
}

.loading {
  opacity: 0;
  transition: all 0.2s ease-in;
}

.loaded {
  opacity: 1;
  transition: all 0.2s ease-in;
}

/* Marks Page */

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  left: 10%;
}

.container {
  width: 45vw;
  height: 27.5vw;
  margin: 0 auto;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2.5vw;
  border-radius: 0.75vw;
  background-color: #90a4ae;
  font-family: Lato;
}

.container h2 {
  text-align: center;
}

table {
  margin: 0 auto;
}

td,
th {
  padding: 0.75vw;
  border: 0.125vw dotted;
}

.MuiDrawer-paper {
  width: 65%;
}

@media (max-width: 640px) {
  .MuiDrawer-paper {
    width: 100%;
  }
}
