.navcontainer {
  position: fixed;
  width: 12.5vw;
  height: 100%;
  background-color: #fff;
  box-shadow: 0.188vw 0vw 0.375vw 0vw rgba(246, 246, 246, 0.75);
  overflow: hidden;
  z-index: 2000;
}

.wrapper {
  padding: 0.625vw;
  z-index: 1;
}
.logo {
  padding: 0.625vw;
  padding-left: 1.25vw;
  text-align: left;
  font-size: 1.25vw;
  font-weight: bold;
}

.wrapper > ul {
  margin-top: 1.25vw;
  text-align: left;
  padding-left: 0.625vw;
  display: flex;
  gap: 1.563vw;
  flex-direction: column;
  font-size: 1.125vw;
  font-weight: bold;
}

.wrapper > ul > li {
  list-style: none;
  font-size: 1.25vw;
  text-decoration: none;
  opacity: 0.6;
}

.wrapper > ul > li > a {
  text-transform: none !important;
}

.wrapper > ul > li:active {
  color: #000;
}

.wrapper > ul > li:hover {
  color: darkgoldenrod;
  font-size: 1.375vw;
  transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  .navcontainer {
    width: 4.375vw;
  }
  .logo > h2 {
    opacity: 0;
  }
  .logo {
    background: url('../public/logo.png');
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.625vw;
    margin: 0.625vw;
  }
  .wrapper > ul {
    gap: 0.313vw;
  }
  .wrapper > ul > li:hover {
    color: red;
  }
  .wrapper > ul > li > a {
    opacity: 0;
  }
}

/* header css starts  */

.headcontainer {
  display: flex;
  flex-wrap: wrap;
  height: 4.375vw;
  background-color: rgb(255, 255, 255);
  margin-left: 12.5vw;
  /* z-index: -1; */
}
.headwrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  margin-left: 2.5vw;
}
.title > h2 {
  color: rgb(0, 0, 0);
}
.title > p {
  color: rgb(0, 0, 0);
}
.title > h2 > span {
  color: rgb(9, 112, 72);
}
.profile {
  position: absolute;
  right: 1.25vw;
}
.image {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  .headcontainer {
    width: 100%;
    margin-left: 4.375vw;
  }
  .profile {
    position: absolute;
    right: 0vw;
  }
}
/* 
content of dashboard start */

.contentcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 21vw;
}

.contentwrapper {
  display: flex;
  padding: 1.25vw;
  gap: 2.5vw;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: max-content;
  width: 17vw;
  height: 6.25vw;
  background-color: #fff;
  border-radius: 0.625vw;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0.188vw 0vw 0.375vw 0vw rgba(246, 246, 246, 0.75);
}

.categories > h2 {
  color: rgb(70, 105, 70);
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  .contentcontainer {
    margin-left: 4.375vw;
  }
  .contentwrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .tabs {
    width: 21.875vw;
  }
}
/* 
charts css started  */

.charts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1.25vw;
}
.bar {
  margin-left: 1.25vw;
}

.circle {
  margin-left: 7.5vw;
}

@media only screen and (max-width: 560px) {
  .charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .bar > h2 {
    text-align: center;
    margin-bottom: 1.25vw;
  }
  .circle > h2 {
    text-align: center;
    font-size: 1.375vw;
    margin-bottom: 1.25vw;
  }
  .bar {
    margin-top: 3.75vw;
    margin-left: 0.625vw;
    width: 18.75vw;
    height: 18.75vw;
  }
  .circle {
    margin-top: 3.75vw;
    margin-left: 0.625vw;
    width: 18.75vw;
    height: 18.75vw;
  }
}
