.navcontainer {
  position: fixed;
  width: 11.9vw;
  height: 100%;
  background-color: #34057f;
  color: white;
  top: 10%;
  overflow: hidden;
  z-index: 2000;
}

.tbg {
  background: url('../images/tbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  left: 12.5%;
  padding-right: 10vw;
  border-top-left-radius: 3vw;
}

.ttabs {
  padding-left: 1vw;
  padding-right: 1vw;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.wrapper {
  z-index: 1;
}

.wrapper > ul {
  margin-top: 1.25vw;
  text-align: left;
  padding-top: 3vh;
  display: flex;
  gap: 1.563vw;
  flex-direction: column;
  font-size: 1.125vw;
  font-weight: bold;
}

.wrapper > ul > li {
  list-style: none;
  font-size: 1.3vw;
  text-decoration: none;
  background-color: transparent;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
  min-height: max-content;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  padding: 0.5vw;
  padding-left: 0.7vw;
  will-change: background-color color font-size;
}

.wrapper > ul > li > a {
  font-size: 1.4vw;
  text-transform: none !important;
}

.wrapper > ul > li:active {
  color: #000;
}

.wrapper > ul > li:hover {
  background-color: white;
  color: black;
  font-size: 1.375vw;
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  .navcontainer {
    width: 4.375vw;
  }

  .wrapper > ul {
    gap: 0.313vw;
  }
  .wrapper > ul > li:hover {
    color: red;
  }
  .wrapper > ul > li > a {
    opacity: 0;
  }
}

/* header css starts  */

.headcontainer {
  z-index: 2;
  min-height: max-content;
  height: 11vh;
  width: 100%;
  padding: 1vw;
  padding-left: 14vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: #34057f;
}

.title {
  margin-left: 2.5vw;
}
.title > h2 {
  color: rgb(255, 255, 255);
  font-size: 2vw;
}
.title > p {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
}
.title > h2 > span {
  color: rgb(16, 171, 111);
}

.image {
  min-width: 5vw;
  max-width: 6vw;
  height: auto;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  .headcontainer {
    width: 100%;
    margin-left: 4.375vw;
  }
}
/* 
content of dashboard start */

.contentcontainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #34057f;
}

.contentcontainer section {
  overflow: hidden;
  position: relative;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 12vw;
  background-color: #fde9ff;
  width: 100%;
  height: 100vh;
  border-top-left-radius: 3vw;
}

.contentwrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.25vw;
  gap: 2.5vw;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: max-content;
  width: 17vw;
  height: 6.25vw;
  background-color: #dc245d;
  border-radius: 0.625vw;
  cursor: pointer;
  overflow: hidden;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0.188vw 0vw 0.375vw 0vw rgba(246, 246, 246, 0.75);
  will-change: background-color;
}

.tabs:hover {
  background-color: #f11b5f;
}

.categories > h2,
.categories > * > h2 {
  color: #fde9ff;
  font-size: 2vw;
}

/* 
charts css started  */

.charts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1.25vw;
  gap: 6vw;
}
.bar {
  margin-left: 1.25vw;
}

.bar > h2,
.circle > h2 {
  font-size: 2vw;
}

.circle {
  margin-left: 7.5vw;
}

.nut {
  width: 25vw !important;
  height: auto !important;
  margin: 0;
}

.line {
  width: 35vw !important;
  height: auto !important;
  margin: 0;
}
