.cont {
  overflow: hidden;
  position: relative;
  left: 12.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 20vw;
  flex-wrap: wrap;
  background-color: #0071d5;
  width: 100%;
  height: 100vh;
  gap: 2vw;
  border-top-left-radius: 3vw;
}

.cont button {
  background-color: #9f0073;
  color: #c3fcf1;
  font-size: 3.5vw;
  padding: 1.5vw;
  border-radius: 1.3vw;
  border: 0.15em solid;
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.cont button:hover {
  cursor: pointer;
  background-color: #fc7149;
  color: #3a3a3a;
}
