.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 252, 166);
  padding: 0.5rem;
}

.cont form {
  position: relative;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem;
  border-radius: 0.5rem;
}

.cont > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cont > form input[type='text'] {
  border-radius: 0.3rem;
  border: none;
  padding: 0.2rem;
}

.cont > form input[type='submit'] {
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  background-color: rgba(255, 228, 196, 0.704);
  transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  will-change: background-color;
}

.cont > form input[type='submit']:hover {
  background-color: bisque;
}
